name: Build and Deploy to AWS

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

env:
  AWS_REGION: eu-central-1
  AWS_ROLE: arn:aws:iam::482681396158:role/GithubActions
  ECR_REPOSITORY_BE: flowboard-be
  ECR_REPOSITORY_UI: flowboard-ui

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Backend JAR
        working-directory: ./be
        run: |
          mvn clean package -DskipTests

      - name: Build, tag, and push backend image to Amazon ECR
        working-directory: ./be
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY_BE:$IMAGE_TAG .
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY_BE:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY_BE:latest
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_BE:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_BE:latest

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: ui/package-lock.json

      - name: Install UI dependencies
        working-directory: ./ui
        run: npm ci

      - name: Build UI
        working-directory: ./ui
        env:
          INGRESS_HOST: ${{ secrets.INGRESS_HOST }}
          KEYCLOAK_HOST: ${{ secrets.KEYCLOAK_HOST }}
        run: npm run build

      - name: Build, tag, and push frontend image to Amazon ECR
        working-directory: ./ui
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          cp nginx/default.conf.template default.conf.template
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY_UI:$IMAGE_TAG .
          docker tag $ECR_REGISTRY/$ECR_REPOSITORY_UI:$IMAGE_TAG $ECR_REGISTRY/$ECR_REPOSITORY_UI:latest
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_UI:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY_UI:latest

      - name: Restart ECS Service
        run: |
          aws ecs update-service --cluster default --service flowboard-service --force-new-deployment --region $AWS_REGION